<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>List View</title>
	
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	
	<div class="main">
		
		<% feeds.forEach(function(feed){ %>
			<article class="clearfix">
				
				<aside>
					
					<h3><a href="<%= feed.link %>" target="_blank"><%= feed.title %></a></h3>
					
					<time datetime="<%= feed.date %>"><%= feed.dateFormat %></time>
					<span class="comments">| Comments: <%= feed.comments %></span>
					
					<figure>
						<img src="<%= feed.cover %>" alt="" class="cover" />
						<figcaption><%= feed.description %></figcaption>
					</figure>
					
					<span class="categories">
						<strong>Categories:</strong>
						<% feed.categories.forEach(function(category){ %>
							<a href="#"><%= category %></a>, 
						<% }) %>
					</span>
						
					<div class="content">
						<%- feed.content %>
					</div>
					
				</aside>
				
				<div class="images">
					
					<% feed.images.forEach(function(image){ %>
						<img src="<%= image %>" rel="" alt="" />
					<% }) %>
					
				</div>
				
			</article>
			
			<hr />
		<% }) %>
		
	</div>
	
	<div id="pagination">
		<ul>
			<% if(page > 1) {%>
				<li><a href="/">Anterior</a></li>
			<% } %>
			<li><a href="/page/<%= page + 1 %>">Próxima</a></li>
		</ul>
	</div>
	
	<!--<script src="/js/init.js"></script>-->
</body>
</html>